.overthefold {
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://i.imgur.com/ltduYDX.jpg);
  background-size: cover;
  background-position: center;
}

.sessionTitle{
  text-align: center;
  font-size: 36px;
  color: #4A90E2;
}