.footerholder{
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;   
    background: #4A90E2;
    overflow: overlay;
}

.socialmediaholder{
    display: flex;
    justify-content: space-around;
    margin : 20px auto;
}

.externallink{
    height: 48px;
    width: 48px;
}

.subscribeholder{
    width: 50%;
    display: flex;
    justify-content: center;
    margin : 0px auto;
}

@media screen and (max-width: 600px) {
    .subscribeholder {
        width: 80%;
    }
}

.subscribe{
    background: #386fad;
    width: 69.9%;
    padding: 15px 20px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    color: #fff;
    font-size: 14px;
}

.subscribe::placeholder{
    color: #fff;
}

.subscribebutton{
    cursor: pointer;
    width: 29.9%;
    background: black;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: none;
    font-size: 15px;
}

.copyright{
    padding: 15px auto;
    text-align: center;
    color:#ffffff;
}